* {
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微軟雅黑", sans-serif;
}
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#search {
    /*box-shadow: 0 0 6px 1px #aaa;*/
    top: 20px;
    position: absolute;
    z-index: 5;
    left: 120px;
    background-color: #fff;
    border: 2px solid #49a0d0;
}
#address {
    padding: 5px 5px 5px 1em;
    width: 400px;
    border: 0px;
    font-size: 1.5em;
    background-color: #fff;
}
.info {
    padding: .5em;
    width: 350px;
}
.panel {
    transition: top .3s, z-index .3s .3s;
    height: calc(100% - 40px);
    width: 480px;
    position: absolute;
    top: calc(-100% + 40px);
    background-color: #69c0f0;
    /*border-radius: 0 0 8px 8px;*/
    color: #fff;
    z-index: 5;
}
.panel-1 {
    right: 1px;
}
.panel-2 {
    right: 1px;
}
.panel.active {
    transition: top .3s, width .3s, right .3s, height .3s .4s;
    top: 0;
    z-index: 6;
}
.panel.active2 {
    transition: height .3s, width .3s .4s, right .3s .4s;
    width: 80%;
    right: 10%;
    height: calc(100%);
    z-index: 7;
}
.panel.active .switch:after {
    content: '\25c0';
}
.panel.active2 .switch:after {
    content: '\25b6';
}
.switch {
    float: left;
    height: 80px;
    width: 50px;
    background: #ffcd33;
    font-size: 20px;
    color: #fff;
    border: 0;
}
.panel-main {
    /*box-shadow: 0 0 6px 1px #aaa;*/
    height: 100%;
    width: 100%;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow-y: scroll;
    overflow-x: hidden;
}
#daterange-slider {
    margin-top: 1em;
}
#daterange-display {
    margin: .5em 0 .2em 0;
    text-align: center;
}
#map-slider-panel {
    position: absolute;
    bottom: 2em;
    left: 50px;
    width: 480px;
    z-index: 5;
    background-color: #69c0f0;
    padding: 28px 42px;
    /*box-shadow: 0 0 6px 1px #aaa;*/
}
#map-slider-panel .noUi-base {
    background-color: #ffcd33;
}
#map-display {
    padding-top: 10px;
    text-align: right;
}
.map-display-caption {
    float: left; 
    display: inline-block; 
    margin-top: 26px; 
    color: #ebebeb; 
    font-weight: bold;
}
#map-marker-types input {
    display: none;
}
#map-marker-types input + label {
    transition: .1s opacity;
    padding: 5px;
    opacity: .2;
    background-color: #ebebeb;
    color: #2b607c;
    cursor: pointer;
    border-bottom: 6px solid #49a0d0;
}
#map-marker-types input:checked + label {
    opacity: 1;
    border-bottom: 6px solid #49a0d0;
}
.lock {
    transition: background 1s;
}
.lock.yes {
    transition: background 1s;
    display: block;
    background: #555;
    opacity: .4;
    width: 100%;
    right: 0;
    height: 100%;
    z-index: 6;
    position: fixed;
}
.caption-1, .caption-2 {
    /*box-shadow: 0 1px 6px -1px #666;*/
    position: absolute;
    bottom: -30px;
    height: 30px;
    cursor: pointer;
    /*border-radius: 0 0 8px 8px;*/
    color: #505050;
    z-index: -1;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.caption-1 {
    width: 49%;
    left: 0%;
    background-color: #ffcd33;
    /*background: -webkit-linear-gradient(top, #ddb322 0%, #ffcd33 20%);*/
}
.caption-2 {
    width: 49%;
    left: 51%;
    background-color: #fc7d72;
    /*background: -webkit-linear-gradient(top, #d94a3e 0%, #fc5346 20%);*/
}
.caption-1 div, .caption-2 div {
    position: absolute;
    width: 100%;
    bottom: 4px;
    font-size: 1.15em;
    text-align: center;
}
.hc {
    transition: opacity .5s;
    width: 100%;
    height: 300px;
}
.calc_type_label {
    margin: 0 15%;
    font-size: 1.2em;
}
.calc_capital_label {
    margin: 0 15%;
    font-size: 1.2em;
}
.calc_button button {
    margin: 0 30% 2em 30%;
    padding: .4em;
    margin-top: .5em;
    width: 40%;
    background-color: #eee;
    border: 1px solid #eee;
    font-size: 1.2em;
    cursor: pointer;
}
.calc_type_label select {
    background-color: #fff;
    border: 1px solid #eee;
    font-size: 1.2em;
}
.calc_capital_label select {
    background-color: #fff;
    border: 1px solid #eee;
    font-size: 1.2em;
}
